.message-display-wrapper {
    width: 80%;
    max-width: 600px;
    
    padding: 20px;

    border: 1px solid grey;
    border-radius: 10px;

    box-shadow: 0 0 3px 3px white;
}

.message-display {

}