.post-button {
    border: none;

    background-color: #cfc;
    cursor: pointer;
    display: inline-block;

    font-variant: small-caps;
    font-size: 16px;

    padding: 4px 10px 4px 10px;
    color: green;

    margin: 20px;
}